{block content}
    <section class="landing">
        <div class="container">
            <h1 class="text-white b100">{!_messages.homepage.leadText}
            </h1>

            <div class="arrow-wrapper">
                <div class="arrow"></div>
            </div>
        </div>
    </section>
    {translator messages.homepage.aboutProject}
    <section class="section-blue p100 block-levitating" id="discover">
        <div class="container">
            <h1 class="text-white text-center b600">{_title}</h1>
            <div class="text-justify p50 text-white block-800">{!_text}</div>
        </div>
    </section>
    {/translator}
    <section class="introduction pt100" id="services">
        <div class="container">
            <h1 class="text-center text-blue b600">{_messages.homepage.introduction.title}</h1>
            <p class="text-center text-grey w800 mt20">{_messages.homepage.introduction.description}</p>
        </div>
    </section>
    {translator messages.homepage.services}
        <section class="services">
            <div class="container">
                <div class="space-between pt100">
                    <div class="icon-on-top flights open-card-popup" data-content="{_flights.popUp}">
                        <h1 class="text-blue text-center upper b600">{_flights.title}</h1>

                        <p>{_flights.description}</p>
                    </div>
                    <div class="icon-on-top accomodation open-card-popup" data-content="{_accomodation.popUp}">
                        <h1 class="text-blue text-center upper b600">{_accomodation.title}</h1>

                        <p>{_accomodation.description}</p>
                    </div>
                    <div class="icon-on-top workplace open-card-popup" data-content="{_workplace.popUp}">
                        <h1 class="text-blue text-center upper b600">{_workplace.title}</h1>

                        <p>{_workplace.description}</p>
                    </div>
                </div>
            </div>
        </section>
    {/translator}
    {translator messages.homepage.locations}
        <section class="locations-wrapper search-results" id="destinations">
            <h1 class="text-center text-blue b600 upper divider-before mt100">Kam by jste se rádi podívali?</h1>
            <div class="container tile-wrapper p50">
                <div class="tile">
                    <a href="#" data-tag="{_prague}">
                        <h1>{_prague}</h1>

                        <h2>{_czechRepublic}</h2>
                        <h5 class="price">15 500 Kč / {_days, 30}</h5>

                        <div class="flight-details">
                            <span class="departure-from">{_prague}</span>
                            <span class="arrival-to">{_prague}</span>
                        </div>
                    </a>
                </div>
                <div class="tile">
                    <a href="#" data-tag="Bangkok">
                        <h1>Bangkok</h1>

                        <h2>Thailand</h2>
                        <h5 class="price">25 500 Kč / {_days, 30}</h5>

                        <div class="flight-details">
                            <span class="departure-from">{_prague}</span>
                            <span class="arrival-to">Bangkok</span>
                        </div>
                    </a>
                </div>
                <div class="tile">
                    <a href="#" data-tag="New York">
                        <h1>New York</h1>

                        <h2>USA</h2>
                        <h5 class="price">45 500 Kč / {_days, 30}</h5>

                        <div class="flight-details">
                            <span class="departure-from">{_prague}</span>
                            <span class="arrival-to">Bangkok</span>
                        </div>
                    </a>
                </div>
                <div class="tile">
                    <a href="#" data-tag="Koh Lanta">
                        <h1>Koh Lanta</h1>

                        <h2>Thailand</h2>
                        <h5 class="price">25 500 Kč / {_days, 30}</h5>

                        <div class="flight-details">
                            <span class="departure-from">{_prague}</span>
                            <span class="arrival-to">Krabi</span>
                        </div>
                    </a>
                </div>
                <div class="tile">
                    <a href="#" data-tag="Ubud">
                        <h1>Ubud</h1>

                        <h2>Bali</h2>
                        <h5 class="price">28 500 Kč / {_days, 30}</h5>

                        <div class="flight-details">
                            <span class="departure-from">{_prague}</span>
                            <span class="arrival-to">Danpasar</span>
                        </div>
                    </a>
                </div>
                <div class="tile">
                    <a href="#" data-tag="London">
                        <h1>London</h1>

                        <h2>United Kinkdom</h2>
                        <h5 class="price">28 500 Kč / {_days, 30}</h5>

                        <div class="flight-details">
                            <span class="departure-from">{_prague}</span>
                            <span class="arrival-to">London</span>
                        </div>
                    </a>
                </div>
            </div>
            <a class="open-popup-link" href="#email-modal" hidden>Open modal</a>
        </section>
    {/translator}
{/block}
{block scripts}
{/block}