{block content}
<section class="destination-cover">
	<h1 class="city text center white b700">Ubud</h1>
	<h2 class="country text center white b500">Bali, Indonesia</h2>
	<blockquote class="text center white">Rise field is the perfect place to stay motivated and fresh all day long.</blockuote>
</section>
<section class="briefe-info">
	<div class="container">
		<ul class="items clearfix">
			<li class="item wifi">10 MB/s</li>
			<li class="item weather">32°C</li>
		</ul>
	</div>
</section>