{block content}
    <section class="destination-cover">
        <h1 class="city text center white b700">Ubud</h1>
        <h2 class="country text center white b500">Bali, Indonesia</h2>
        <blockquote class="text center white">Rise field is the perfect place to stay motivated and fresh all day long.</blockquote>
    </section>
    <section class="briefe-info">
        <div class="container">
            {control contactQuestion}
        </div>
    </section>
{/block}