{form form}
    <div class="icon-working"></div>
    <h1 class="text-centered text-red text-bold">Makáme na tom!</h1>
    <p class="p20">Právě hledáme ty nejvýhodnější nabídky a sepisujeme vše, co musíš vědět, než vyrazíš do světa. Pokud
        chceš být jeden z nás, napiš nám tvůj email a my se ti ozveme s novinkama!</p>
    <div class="inner-wrapper">
        <a class="facebook-link" n:href="requestFacebookLogin">
            <div id="f"></div>
            <div class="fb-title">Přihlásit se přes Facebook</div>
        </a>
        
        <p class="divider">NEBO</p>
        {input email placeholder=>"Tvůj e-mail"}
        {input submit class=>"btn btn-red", value=>"Odeslat"}
    </div>
{/form}