<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-site-verification" content="KAsMk0LOI_XcS1sNKa5Era3EIxYnxL96mAttNp6XQ10"/>
    <link rel="icon" href="../../favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&subset=latin,latin-ext,cyrillic,greek-ext,greek,cyrillic-ext'
          rel='stylesheet' type='text/css'>

    <title>{_messages.site.title}</title>

    {control css}

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<header>
    {translator messages.menu}
        <div class="container">
            <a n:href="Homepage:" class="logo"><h1 hidden>REMOTEO</h1></a>
            <nav>
                <ul>
                    <li class="active">
                        <a href="#landing">{_landing}</a>
                    </li>
                    <li><a href="#discover">{_discover}</a></li>
                    <li><a href="#services">{_services}</a></li>
                    <li><a href="#destinations">{_destinations}</a></li>
                    <li><a href="#">{_contact}</a></li>
                </ul>
            </nav>
            <div class="right">
                <a class="sign-up">{_registration}</a>
            </div>
        </div>
    {/translator}
</header>

<div id="email-modal" class="email-popup mfp-hide">
    {control contactForm}
</div>
<div id="card-modal" class="email-popup mfp-hide">
</div>
{block content}{/block}
<footer>
    <div class="container clearfix">
        <p>© Copyright Remoteo.com</p>
        <a class="logo" n:href="Homepage:"></a>
    </div>
</footer>

{control js}
{include 'components/ga.latte'}
{block scripts}{/block}
</body>
</html>
