{block content}
    <section class="landing">
        <div class="container">
            <h1 class="text b100 white">Let's <span class="b600">work remotely,</span><br>from all <span class="b600">around the world.</span></h1>
            <div class="arrow-wrapper">
                <div class="arrow"></div>
            </div>
        </div>
    </section>
    <section class="introduction">
        {control signInForm}
    </section>
{/block}