{form form}
    <div class="container" style="margin-top:30px">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title"><strong>{_messages.user.login}</strong></h3></div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="exampleInputEmail1">{_messages.user.username}</label>
                        <input n:name="username" class="form-control" style="border-radius:0px"
                               id="exampleInputEmail1" placeholder="{_messages.user.enterUsername}">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">{_messages.user.password}</label>
                        <input n:name="password" type="password" class="form-control" style="border-radius:0px"
                               id="exampleInputPassword1" placeholder="{_messages.user.password}">
                    </div>
                    <button n:name="send" type="submit"
                            class="btn btn-sm btn-default">{_messages.user.loginButton}</button>
                </div>
            </div>
        </div>
    </div>
{/form}