body {
	padding-top: 50px;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
	margin-top: 20px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
	padding-left: 0;
	padding-right: 0;
}
.navbar-wrapper .navbar {
	padding-left: 15px;
	padding-right: 15px;
}

.navbar-content
{
	width:320px;
	padding: 15px;
	padding-bottom:0px;
}
.navbar-content:before, .navbar-content:after
{
	display: table;
	content: "";
	line-height: 0;
}
.navbar-nav.navbar-right:last-child {
	margin-right: 15px !important;
}
.navbar-footer
{
	background-color:#DDD;
}
.navbar-footer-content { padding:15px 15px 15px 15px; }
.dropdown-menu {
	padding: 0px;
	overflow: hidden;
}