@import url("variables.less");
/*
	BUTTONS
*/
.btn{
	border: 0;
	border-radius: 5px;
	padding:10px 20px;
	cursor: pointer;
	display:inherit;
	letter-spacing: 1.5px;
}
.btn-large{
	padding:15px 20px;
	font-size: 16px;
}
.btn-red{
	background-color: @red;
	text-align: center;
	text-transform: uppercase;
	color:white;
	&:hover{
		background-color: #B52323;
	}
}
.btn-centered{
	margin-left: 50%;
    transform: translate(-50%,0);
    display: block;
}
/*
	TEXT SETTINGS
*/
.text-centered{
	text-align: center;
}
.text-red{
	color:@red;
}
.text-bold{
	font-weight: bold;
}
.divider-after{
	&:after{
		content:"";
		width:250px;
		height:1px;
		background-color:#dadada;
		display:block;
		margin:50px auto;
	}
}
.divider-before{
	&:before{
		content:"";
		width:250px;
		height:1px;
		background-color:#dadada;
		display:block;
		margin:50px auto;
	}
}
/*
	SECTIONS
*/
.section-blue{
	background-color: @blue;
}