@import url("variables.less");

.destination-cover{
	height:400px;
	width:100%;
	/*  BUDE VARIABILNÍ V LATTE */ background-image: url("../images/ubud-destination.jpg");
	background-size: cover;
	background-position: center center;
	.city{
		font-size  : 72px;
		text-transform: uppercase;
		margin-top : 120px;
	}
	.country{
		font-size: 37px;
		padding-bottom: 20px;
		position: relative;
		&::before {
		  content  : "";
		  position : absolute;
		  left     : 50%;
		  transform: translate(-50%,0);
		  bottom   : 0;
		  height   : 1px;
		  width    : 100px;
		  border-bottom:3px solid white;
		}
	}
	blockquote{
		font-style : italic;
		font-weight: 200;
		font-size  : 24px;
		padding-top: 70px;
		&:before{
			content:",,";
		}
		&:after{
			content:'"'
		}
	}

}
.briefe-info{
	padding: 20px 0;
	width:100%;
	background-color: white;
	.items{
		.item{
			float:left;
			padding:10px;
			color:@blue;
			font-weight: 600;
			&:before{
				content:"";
				display: inline-block;
				width  : 30px;
				height : 30px;
				background-size: 100% !important;
				float  : left;
				margin : -4px 10px;
			}

			&.wifi:before{
				background: url("../images/icons/wifi.png") no-repeat;
			}
			&.weather:before{
				background: url("../images/icons/weather.png") no-repeat;
			}
		}

	}
}