/*
	EMAIL MODAL
*/

.email-popup{
	background-color:white;
	max-width: 800px;
	margin:0 auto;
	padding:50px;
	position: relative;

	h1{
		font-size: 32px;
	}
	p{
		line-height: 1.5;
		text-align:center;
		opacity: 0.8;

	}
	.divider{
		line-height: 4;
		text-align: center;
	}
	.facebook-link{
		margin-left: 50%;
		padding: 15px;
		transform:translate(-50%,0);
		display:inline-block;
		cursor: pointer;
	}
	#f {
	    width: 72px;
	    height: 65px;
	    background-color: #3B5998;
	    border-bottom: 10px solid #6d84b4;
	    position: relative;
	    float: left;
		&:before {
		    position: absolute;
		    top: 11px;
		    right: 26px;
		    border: 8px solid #fff;
		    border-bottom: none;
		    border-right: none;
		    border-top-left-radius: 15px;
		    width: 12px;
		    height: 43px;
		    content: "";
		}
		&:after {
		    position: absolute;
		    top: 30px;
		    left: 19px;
		    height: 8px;
		    width: 26px;
		    background-color: #fff;
		    content: "";
		}
	}
	.fb-title{
	    color: white;
	    padding: 16px 21px 15px 0px;
	    text-align: right;
	    background-color: #3B5998;
	    border-bottom: 11px solid #6d84b4;
	    font-size: 16px;
	    width: 300px;
	}



	.inner-wrapper{
		padding:50px 100px 50px 100px;

	}

	input[type="text"]{
		padding:15px 20px;
		font-size:17px;
		border:1px solid #dadada;
		width:70%;
		margin: 10px auto;
		display: inline-block;
		border-radius: 5px 0 0 5px;
		border-right:0;
		float: left;
	}
	input[type="submit"]{
	    display: inline-block !important;
	    width: 30%;
	    border-radius: 0 5px 5px 0 !important;
	    margin-top: 10px;
	    padding: 17px;
	    font-size:16px;
	}

	label {
	  width: 500px;
	  border-radius: 3px;
	}
	/* hide input */
	input.radio:empty {
		margin-left: -999px;
	}

	/* style label */
	input.radio:empty ~ label {
		position: relative;
		float: left;
		line-height: 2em;
		text-indent: 3.25em;
		margin-top: 1.5em;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	input.radio:empty ~ label:before {
		position: absolute;
		display: block;
		top: 0;
		bottom: 0;
		left: 0;
		content: '';
		width: 2em;
		background: #D1D3D4;
		border-radius: 3px;
	}

	/* toggle hover */
	input.radio:hover:not(:checked) ~ label:before {
		content:'\2714';
		text-indent: .6em;
		color: #C2C2C2;
	}

	input.radio:hover:not(:checked) ~ label {
		color: #888;
	}

	/* toggle on */
	input.radio:checked ~ label:before {
		content:'\2714';
		text-indent: .6em;
		color: white;
		background-color: #4DCB6D;
	}

	input.radio:checked ~ label {
		color: #777;
	}

	/* radio focus */
	input.radio:focus ~ label:before {
		box-shadow: 0 0 0 3px #999;
	}


}