@import url("variables.less");

section.landing{
	background:url("../images/bg.jpg") no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	height:100%;
	width:100%;
	box-sizing: border-box;
	h1{
		font-size: 78px;
		opacity:0.95;
		bottom:50%;
		transform:translate(0%,50%);
		position: absolute;
		
	}
	h2{
		font-size:38px;
		padding-top:30px;
	}
	.arrow-wrapper{
		width:100%;
		height:60px;
		position: absolute;
		bottom:0;
		left:0;
		display: block;
		cursor: pointer;

	}
	.arrow{
		width:40px;
		height:40px;
		position: absolute;
		background: url("../images/arrow-down.png") no-repeat;
		background-size: 100%;
		left:50%;
		transform:translate(-50%,0);
		bottom:50px;
		-webkit-animation:arrow 1s infinite;
		-moz-animation:arrow 1s infinite;;

	}	
}
@-webkit-keyframes arrow {
	  0%       { bottom:5px; }
	  25%, 75% { bottom:15px; }
	  50%      { bottom:20px; }
	  100%     {bottom:0;}
	}
	@keyframes arrow {
	  0%       { bottom:5px; }
	  25%, 75% { bottom:15px; }
	  50%      { bottom:20px; }
	  100%     {bottom:0;}
}
section.introduction{
	transition-duration: 2s;
	//opacity:0;
}
section.search{
	//background-color:@blue;
	form{
		.search-location{
			height:43px;
			width:600px;
			background-color: white;
			border:1px solid #54d5d2;
			display:block;
			margin:0 auto;
			padding:10px;
			border-radius:5px;
			font-style: italic;
		}
	}
}
section.services{
	.icon-on-top{
		width: 300px;
		padding-top: 200px;
		padding-bottom: 40px;
		background-size:100px !important;
		border-bottom:5px solid @grey;
		cursor: pointer;
		-webkit-box-shadow: -1px 11px 44px -10px rgba(0,0,0,0.75);
		-moz-box-shadow: -1px 11px 44px -10px rgba(0,0,0,0.75);
		box-shadow: -1px 11px 44px -10px rgba(0,0,0,0.75);
		&:hover{
			background-color: #eee !important;
			border-top-color: #dadada;
			border-bottom-color:@blue;
			
			p{
				color: black;
			}
		}
		
		&.flights{
			background: url("../images/airplane105.png") no-repeat center 50px;
		}
		&.accomodation{
			background: url("../images/home168.png") no-repeat center 50px;
		}
		&.workplace{
			background: url("../images/work12.png") no-repeat center 50px;
		}
		p{
			text-align: center;
			padding: 20px;
			color: @grey;
			font-weight: 100;
		}
	}
}
section.locations-wrapper{
	.tile-wrapper{
		display:flex;
		flex-flow:row wrap;
		justify-content:center;
	}
	.tile{
		height:300px;
		width:320px;
		margin:10px;
		background-size: cover;
		background-position: center center;
		position: relative;

		&:nth-child(1){
			background-image:url("../images/prague.png");
		}
		&:nth-child(2){
			background-image:url("../images/bangkok.png");
		}
		&:nth-child(3){
			background-image:url("../images/new-york.png");
		}
		&:nth-child(5){
			background-image:url("../images/bali.jpg");
		}
		&:nth-child(4){
			background-image:url("../images/koh-lanta.png");
		}
		&:nth-child(6){
			background-image:url("../images/london.png");
		}

		a{
			position: absolute;
			top:0;
			left: 0;
			width:100%;
			height:100%;
			&:hover{
				background-color: rgba(0,0,0,0.6);
				transition:opacity 1s;
				.price,.departure-from,.arrival-to{
					opacity:1;
				}
			}
			h1,h2{
				color:white;
				text-align: center;
			}
			h1{
				font-weight: 600;
				font-size: 31px;
				text-transform: uppercase;
				margin-top: 110px;
				
			}
			h2{
				font-size: 24px;
			}
			.flight-details{
				padding:10px;
				box-sizing: border-box;
				position: absolute;
				bottom:0;
				width: 100%;
			}
			.price{
				margin-top:10px;
				padding-top: 10px;
		
			}
			.price,.departure-from,.arrival-to{
				color:white;
				text-align: center;
				opacity:0;
				font-weight: 200;
				transition:opacity 1s;
			}
			.departure-from{
				&:before{
					content:"";
					width:25px;
					height:25px;
					background:url("../images/plane-takeoff.png") no-repeat;
					background-size: 100%;
					display:inline-block;
					margin:-6px 12px;
				}
			}
			.arrival-to{
				float:right;
				&:after{
					content:"";
					width:25px;
					height:25px;
					background:url("../images/plane-landing.png") no-repeat;
					background-size: 100%;
					display:inline-block;
					margin:-6px 12px;
				}

			}
		}
	}
}