@import url("variables.less");

@media(min-width:1200px){
	.container{
		width : 1200px;
		margin: 0 auto;
	}
}
@media(min-width:1024px) and (max-width:1200px){
	.container{
		width : 1024px;
		margin: 0 auto;
	}
}
@media(max-width:1024px){
	.container{
		width : 100%;
		margin: 0 auto;
	}
}