@import url("variables.less");
//SECTIONS
.block-levitating{
	-webkit-box-shadow: 0px -1px 12px 4px rgba(0,0,0,0.43);
	-moz-box-shadow: 0px -1px 12px 4px rgba(0,0,0,0.43);
	box-shadow: 0px -1px 12px 4px rgba(0,0,0,0.43);
}
// PADDINGS
.p20	{ 	padding:20px}
.p50	{	padding:50px 0; }
.p100	{	padding:100px 0; }
.p150	{	padding:150px 0; }

.pt20	{ 	padding-top:20px}
.pt50	{	padding-top:50px; }
.pt100	{	padding-top:100px; }
.pt150	{	padding-top:150px; }
// MARGIN TOP
.mt20	{	margin-top:20px !important; }
.mt30	{	margin-top: 30px !important;}
.mt50	{ 	margin-top: 50px !important; }
.mt100	{ 	margin-top: 100px !important; }
.mt150	{ 	margin-top: 150px !important; }

// MARGIN
.m30	{	margin: 30px 0 !important;}
.m50	{ 	margin: 50px 0 !important; }
.m100	{ 	margin: 100px 0 !important; }
.m150	{ 	margin: 150px 0 !important; }
// BOLD
.b100	{ 	font-weight: 100; }
.b200	{ 	font-weight: 200; }
.b600	{ 	font-weight: 600; }
.b700	{ 	font-weight: 700; }
.b800	{ 	font-weight: 800; }
// MAX WIDTH
.w600	{ 	max-width: 600px; }
.w800	{ 	max-width: 800px; }
// TEXT TRANSFORM
.upper	{ 	text-transform: uppercase; }
.right	{ 	float:right; }

// PARAGRAPHS 
p + p{
	padding-top: 20px;
}
// TEXTS
	// TEXTS ALIGNS
	.text-center{
		text-align: center;
		margin: 0 auto;
	}
	.text-justify{
		text-align: justify;
	}
	// TEXT COLOR
	.text-blue{
		color:@blue;
	}
	.text-grey{
		color:#747474;
	}
	.text-white{
		color:white;
	}
// BLOCKS
.block-800{
	max-width: 800px;
	margin:0 auto;
}
.center-block{
	margin-left: 50%;
	transform:translate(-50%,0);
}
.space-between{
	display:flex;
	justify-content: space-between;
}

// CLEARING
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1;
}

.container:before,
.container:after {
    content:"";
    display:table;
}
.container:after {
    clear:both;
}
.container {
    zoom:1;
}