@import url("variables.less");
/* --------CSS RESET ---------*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.5;
	font-family: "Open Sans";
	height:100%;
	background-color: #F6F6F6;
}
*{
	outline:none;
	box-sizing: border-box;
}
html{
	height:100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:hover{
	text-decoration: none;
}
a{
	-o-transition : .1s;
  -ms-transition  : .1s;
  -moz-transition : .1s;
  -webkit-transition:.1s;
  transition      : .1s;
  text-decoration: none;
}
/*-------- HEADER -----------*/
header{
	height: 77px;
	width : 100%;
	position: absolute;
	z-index: 3000;
	top:     0;
	transition-duration: .5s;
	&.blue{
		background-color:rgb(59, 100, 122);
		box-shadow: -32px -15px 38px -1px #000;
		.sign-up{
			margin-top:18px;
			padding:10px 15px;
			border-radius:5px;
			&:hover{
				margin-top: 18px;
				padding:    10px 15px;
				border-radius:5px;
				background-color: #D44141;
			}
		}
	}
	.logo{
		height: 70px;
		width : 120px;
		display:block;
		background: url("../images/logo.png") no-repeat left center;
		background-size: 90%;
		float:left;
	}
	nav{
		float:left;
		ul{
			display:flex;
			margin-left:70px;
			li{
				&.active{
					a{
						opacity:1;
						font-weight: 600;
					}
					a:hover{
						font-size:14px;
					}
				}
				a{
					color:white;
					padding:30px 20px;
					display:block;
					font-size:14px;
					font-weight: 500;
					text-transform: uppercase;
					opacity:0.7;
					&:hover{
						opacity:1;
						color:white;
						font-size:15px;
					}
				}
			}
		}
	}
	.sign-up{
		padding:20px;
		display:block;
		background-color: #CB2A2A;
		color:white;
		text-transform: uppercase;
		border-radius:0 0 10px 10px;
		cursor: pointer;
		transition:.5s;
		&:hover{
			padding:28px 20px;
		}
	}
}
/*
	FOOTER
*/
footer{
	padding:50px;
	
	border-top:5px solid #dadada;
	background: url("../images/logo.png") no-repeat center center;
	background-size: 100px;
	background-color:@blue;
	p{
		color:white;
	}
}
/*--------------- */

.container{
	padding:0 20px;
	box-sizing: border-box;
}
h1{
	font-size:28px;
}
h2{
	font-size:24px;
}







