@import url("mixins.less");
.service-popup{
	
	background-color:white;
	max-width: 800px;
	margin:0 auto;
	padding:50px;
	padding-top: 25px;
	position: relative;
	.content{
		h1{
		font-size:21px;
		text-transform: uppercase;
		padding-bottom: 10px;
		color: @blue;
		text-align: center;
		font-weight: bold;
		border-bottom: 1px solid #dadada;
		}
		h1 + p{
			margin-top:40px;
		}
		p{
			text-align: justify;
			margin-top:15px;
		}
		p+p{
			margin-top:0px !important;
		}
	}
	
}